body {
  background-color: #fff;
}

#headline {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#title {
  display: flex;
  flex-direction: column;
}

img {
    margin: auto;
}

#general {
  display: flex;
  flex-direction: column;
}
.border {
  border: 2px solid #1c1a1a;
  margin: 4px;
  padding: 4px;
}

#search-bar {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#random {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#searchbtn {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #4e6096;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(rgb(120, 146, 194), #476e9e);
}

#foodsearch {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
}

#searchbtn:hover {
  background: linear-gradient(#476e9e, rgb(120, 146, 194));
}

#randomRecipe {
  font-size: 15px;
  font-family: Verdana;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #666666;
  border-color: #dcdcdc;
  border-bottom-right-radius: 16px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  border: 3px double #ff6550;
  margin: 10px;
  padding: 5px;
}

.columnone {
  display: flex;
  flex-direction: column;
  border: 3px groove #7f50ff;
  margin: 10px;
  padding: 5px;
}

.columntwo {
  display: flex;
  flex-direction: column;
  border: 3px groove #fd50ff;
  margin: 10px;
  padding: 5px;
}

